@using X.PagedList.Mvc.Core;
@using X.PagedList;
@using X.PagedList.Mvc.Core.Common;



@model IPagedList<TissueSampleRecords.Models.CollectionModel>

@{
    ViewData["Title"] = "Index";
}

    <div style="margin-top:50px">


        <p>
            <a asp-action="Create" class="btn btn-success">Create New Collection</a>
        </p>
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.First().Collection_Id)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.First().Disease_Term)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.First().Title)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Collection_Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Disease_Term)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Collection_Id" class="btn btn-primary btn-sm">Edit</a>
                            <a asp-controller="Sample" asp-action="Details" asp-route-id="@item.Collection_Id" class="btn btn-primary btn-sm">Details</a>
                            <a asp-action="Delete" asp-route-id="@item.Collection_Id" class="btn btn-danger btn-sm">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page }), new PagedListRenderOptions() { Display = X.PagedList.Web.Common.PagedListDisplayMode.IfNeeded })
    </div>